<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Elevate-Hackoff</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Antic+Slab">
    <link rel="stylesheet" href="static/assets/css/Animated-Typing-With-Blinking.css">
    <link rel="stylesheet" href="static/assets/css/Google-Style-Text-Input.css">
    <link rel="stylesheet" href="static/assets/css/Navbar---Logo-Middle---Phone-Logo-Middle.css">
    <link rel="stylesheet" href="static/assets/css/styles.css">
    <link rel="stylesheet" href="static/assets/css/Team-Boxed.css">
    <link rel="stylesheet" href="static/assets/css/Team-Grid.css">
</head>

<body style="background: linear-gradient(90deg, rgb(200,195,203), rgb(124,0,135));">
    <nav class="navbar navbar-light navbar-expand-md" style="margin-top: -15px;margin-bottom: 0px;">
        <div class="container-fluid"><a class="navbar-brand" href="#"><img src="static/assets/img/Elevate%20(1).png" style="height: 90px;width: 90px;margin: 0px;margin-top: 0px;"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1" style="border-color: rgba(0,0,0,0);"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse d-md-flex justify-content-md-end" id="navcol-1" style="font-size: 20px;color: rgb(255,255,255);">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a class="nav-link active" style="color: #ffffff;font-family: 'Antic Slab', serif;" href="singindoctor.html">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="patientcheckin.html" style="color: #ffffff;font-family: 'Antic Slab', serif;">Check In</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="color: #ffffff;font-family: 'Antic Slab', serif;">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <h1>Details of patient 12005</h1>
    <div><canvas data-bs-chart="{&quot;type&quot;:&quot;bar&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;Fear&quot;,&quot;Anger&quot;,&quot;Happy&quot;,&quot;Sad&quot;,&quot;Disgust&quot;,&quot;Neutral&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;Revenue&quot;,&quot;backgroundColor&quot;:&quot;#4e73df&quot;,&quot;borderColor&quot;:&quot;#4e73df&quot;,&quot;data&quot;:[&quot;{{a['Fear']}}&quot;,&quot;{{a['Anger']}}&quot;,&quot;{{a['Happy']}}&quot;,&quot;{{a['Sad']}}&quot;,&quot;{{a['Disgust']}}&quot;,&quot;{{a['Neutral']}}&quot;]}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:true,&quot;legend&quot;:{&quot;display&quot;:false},&quot;title&quot;:{}}}"></canvas></div>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/js/chart.min.js"></script>
    <script src="static/assets/js/bs-init.js"></script>
    <script src="static/assets/js/Animated-Typing-With-Blinking.js"></script>
</body>

</html>